* {
    text-transform: none;
}
body {
    background-color: #1a1a1a;
    color: #f0f0f0;
}

.about-me-hero {
    min-height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: clamp(10rem, 15vh, 14rem) 9% 2rem 9%; 
    gap: 3rem; 
    flex-wrap: wrap; 
}

.about-me-content {
    flex: 1 1 50rem;
    text-align: left;
}
.about-me-heading {
    font-family: Circular Std, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: clamp(2.5rem, 6vw, 6rem);
    line-height: 85%;
    margin-bottom: clamp(2rem, 4vw, 4.75rem);
    background: linear-gradient(130deg, #b16cea, #ff6566 50%, #ffa74c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.about-me-content p {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    line-height: 1.5;
    color: #ccc;
    font-weight: 300;
}

.about-me-content p strong {
    color: #fff;
}

.about-me-graphic {
    flex: 1 1 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-graphic img {
    width: 63rem;
    animation: spin 9s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

span {
    font-style: normal;
    font-weight: 900;
    background: linear-gradient(130deg, #b16cea, #ff6566 50%, #ffa74c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.ken {
    font-style: normal;
    font-weight: 900;
    background: linear-gradient(130deg, #b16cea, #ff6566 50%, #ffa74c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

@media (max-width: 991px) {
    .about-me-hero {
        padding: 10rem 4% 2rem 4%; 
    }
    .about-me-heading {
    }
}

@media (max-width: 768px) {
    .about-me-hero {
        flex-direction: column; 
        text-align: center;

        padding: 10rem 4% 2rem 4%; 
    }

}
